# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jouw-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=jouw-anon-key-hier

# Site
NEXT_PUBLIC_SITE_URL=https://kwispelclub.be
NEXT_PUBLIC_SITE_NAME=Kwispelclub
NEXT_PUBLIC_LAUNCH_MODE=true
